navbar {
    text-align: center;
    font-size: 500px;
}

body {
    text-align: center;
    text-decoration-color: cornflowerblue;
}

#contact {
    width: 1500px;
    margin-bottom: 50px;
    border-radius: 50%;
    background-color: deepskyblue;
    text-align: center;
    height:200;
}

#VIBGYOR {
    position: absolute;
    height: 800px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    color: aqua;
}

p {
    text-decoration-color: azure;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#videos {
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Dosis', sans-serif;
    background-color: cornflowerblue;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;

    center {
        font-size: 30px;
        background-color: cadetblue;
    }
